<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
    <h2>マイページ</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_messages! %>
      <% if @user.provider.blank? %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>
        
        <div class="field">
          <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
        </div>
      
        <div class="field">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
        </div>
      <% end %>
      
      <div class="field">
        <%= profile_img(@user) if profile_img(@user) %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    
      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <h3>アカウントを削除する</h3>
    
    <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウントを削除してよろしいですか?" }, method: :delete, class: "btn btn-primary btn-block" %></p>
    <%= link_to "戻る", :back %>
    <%= render "devise/shared/links" %>
  </div>
</div>
